.chartArea {
  /* margin: 10px; */
  width: 62vw;
  height: fit-content;
  justify-content: center;
}
.chartName {
  font-size: 30px;
  margin: 0px;
}

.chartContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chartHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #f1f1f1;
  color: rgb(41, 24, 89);
}

.resolutionList {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  list-style-type: none;
  padding: 0 15px;
  font-weight: 800;
}
.resolutionList > li:hover {
  cursor: pointer;
  color: rgb(14, 14, 248);
}

@media screen and (max-width: 1200px) {
  .chartArea {
    width: 90%;
  }
}
