.listItem {
  background-color: white;
  height: 30px;
  width: 90%;
  margin: 4px 5px;
  align-items: center;
  color: rgb(22, 22, 50);
}

.listItem__text {
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}
