.newsbar {
  /* position: absolute; */
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  min-width: 200px;
  width: 25vw;
  background-color: rgb(22, 22, 50);
}
.newsbar__nav {
  display: flex;
  margin-top: 6px;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: 3px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(48, 48, 48);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search__bar {
  margin: 5px 0;
}
.search__input {
  width: 90%;
  height: 25px;
  border-radius: 4px;
}
.news__block {
  background-color: white;
  height: 100%;
  padding: 5px;
  width: 90%;
  margin: 4px 5px;
  text-align: justify;
  text-justify: newspaper;
}

.news__headline {
  cursor: pointer;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  vertical-align: middle;

  color: rgb(65, 6, 6);
}

@media screen and (max-width: 1200px) {
  .newsbar {
    height: 80vh;
  }
}
